:root {
    --primary: #00FFFF;
    --survol: #33FFFF;
    --text-principal: #E0E0E0;
    --text-secondaire: #A0A0A0;
    --accents: #9B00FF;
    --liens: #00FF9C;
    --bgcolor: #121212;
}

body {
    background-color: var(--bgcolor);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, main a {
    color: var(--primary);
    text-shadow: 0 0 20px var(--primary);
    transition: 0.3s;
}

a:hover, #actualPage, nav li:hover>a {
    color: var(--liens);
    text-shadow: 0 0 20px var(--liens);
}

main {
    margin-left: 10%;
    margin-right: 10%;
    text-align: space-between;
}

.separator {
    background-color: var(--accents);
    height: 1px;
    width: 50%;
    margin-left: 25%;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 25%;
    padding-left: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-principal);
    transition: 0.3s;
}

nav li:hover p {
    display: block;
    width: 200px;
    background-color: var(--bgcolor);
    border-radius: 30px;
    border-color: var(--accents);
    box-shadow: 0 0 20px var(--accents);
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    opacity: 1;
}

nav li p {
    display: none;
    position: absolute;
    transition: opacity 0.3s ease;
    opacity: 0;
}

p {
    color: var(--text-principal);
}