html { scroll-behavior: smooth; }

:root {
    /* Main colors */
    --mainbg: aliceblue;
    --secondbg: #292929;
    --main: black;
    --second: white;
    --accent: #5dade2;
    --gold-project: #b7950b;
    
    /* Tags colors */
    --devbg: #fcf3cf;
    --dev: #b7950b;
    --gestionbg: #d5f5e3;
    --gestion: #148f77;
    --commbg: #f8bbd0;
    --comm: #d81b60;
    --anglaisbg: #e1bee7;
    --anglais: #8e24aa;
    --autrebg: #eaeded;
    --autre: #717d7e;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mainbg);
    overflow-x: unset;
    font-family: "Poppins", sans-serif;
}

.all {
    transition: opacity 0.3s ease;
}

header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secondbg);
    z-index: 2;
}

header>a {
    display: block;
    color: var(--second);
    text-decoration: none;
}

main {
    margin: 5% 50px 50px;
    text-align: center;
}

h1, h2, h3 {
    color: var(--accent);
}

.image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/imageNature.jpeg);
    background-attachment:fixed;
    background-size: cover;
    background-position: bottom;
    margin-top: 30px;
    padding-top: 35vh;
    padding-bottom: 10vh;
    text-align: center;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll-container {
    width: 500px;
    height: 70px;
    padding-bottom: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.scroll-track {
    display: flex;
    animation: scroll 10s linear infinite;
}

.scroll-texts {
    color: var(--second);
    min-width: 400px;
    max-height: 70px;
    padding-right: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

/* Animation continue */
@keyframes scroll {
    0% { transform: translateX(500px); }
    100% { transform: translateX(-2100px); } /* total largeur des 4 textes originaux */
}


.scroll {
    filter: invert(100%);
}

.image a, .scroll {
    color: var(--second);
    width: 5rem;
    height: 20%;
    padding-bottom: 10px;
    padding-top: 0;
    text-shadow: 0 0 15px var(--mainbg);
    text-decoration: none;
    transition: 0.5s;
    animation: bump 5s linear infinite;
}

.scroll:hover {
    transform: scale(1.02);
}

@keyframes bump {
    0%{ padding-bottom: 10px; padding-top: 0;}
    4%{padding-bottom: 0; padding-top: 10px;}
    8%{ padding-bottom: 10px; padding-top: 0;}
    12%{padding-bottom: 0; padding-top: 10px;}
    16%{ padding-bottom: 10px; padding-top: 0;}
    30%{padding-bottom: 10px; padding-top: 0;}
    34%{ padding-bottom: 0; padding-top: 10px;}
    38%{padding-bottom: 10px; padding-top: 0;}
    42%{padding-bottom: 0; padding-top: 10px;}
    46%{padding-bottom: 10px; padding-top: 0;}
}

#topic:target, #exp-studies:target, #skills:target, #projects:target {
    padding-top: 70px;
}

section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vh;
    border-radius: 10px;
    transition: 1s;
    padding: 5vh;
    margin-bottom: 30px;
}

section:hover {
    box-shadow: 0 0 10px var(--main);
}

section .title {
    border-right: solid;
    border-color: var(--accent);
    width: 20vw;
    padding-right: 30px;
}

section .paragraph {
    width: 80%;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-line;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    text-align: justify;
}

section.projects div.cards {
    display: grid;
    gap: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

div.cards a {
    text-decoration: none;
    color: var(--main);
}

section.projects div.cards a {
    display: block;
    margin: 30px;
}

article.card {
    padding: 20px;
    height: auto;
    min-height: 40rem;
    width: 100%;
    margin: 10px;
    box-shadow: 0 0 5px var(--secondbg);
    transition: 0.5s;
    border-radius: 20px;
}

section.projects div.cards a article.card:hover {
    box-shadow: 0 0 10px var(--secondbg);
    transform: scale(1.02);
}

article.card img {
    border-radius: 10px;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: top;
}

article.card img.forceleft {
    object-fit: cover; 
    object-position: left;
}

article.card#gold {
    box-shadow: 0 0 5px var(--gold-project);
}

article.card#gold:hover {
    box-shadow: 0 0 10px var(--gold-project);
}

article.card>h3 {
    height: 1rem;
}

article.card>p {
    height: 10rem;
}

ul.tags {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    padding: 0;
    line-height: 1;
    height: 6rem;
}

ul.tags li {
    margin: 0 10px 10px 0;
    padding: 5px 10px 5px 10px;
    list-style: none;
    border-radius: 5px;
}

ul.tags li.dev {
    color: var(--dev);
    background-color: var(--devbg);
}

ul.tags li.gestion {
    color: var(--gestion);
    background-color: var(--gestionbg);
}

ul.tags li.comm {
    color: var(--comm);
    background-color: var(--commbg);
}

ul.tags li.ang {
    color: var(--anglais);
    background-color: var(--anglaisbg);
}

ul.tags li.autre {
    color: var(--autre);
    border-color: var(--autre);
    background-color: var(--autrebg);
}

.paragraph ul.tags {
    height: 2rem;
}

.note {
    color: var(--main);
    font-style: italic;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondbg);
    color: var(--second);
    width: 100%;
    height: 50px;
}

footer a {
    color: var(--second);
}

@media screen and (max-width:1500px) {
    section {
        flex-direction: column;
    }

    section .title {
        border-right: none;
        border-bottom: solid var(--accent);
        width: 100%;
        margin-bottom: 30px;
    }

    section .cards, section .paragraph {
        width: 100%;
        padding: 0;
    }

    section.projects div.cards {
        padding: 0;
    }

    header, footer {
        height: 60px;
    }
}

@media screen and (max-width: 900px) {
    section.exp-studies,
    section.exp-studies .paragraph,
    section.exp-studies .title {
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    section.exp-studies .title {
        border-right: none;
        border-bottom: solid 2px var(--accent);
        width: 100%;
        padding-bottom: 10px;
    }
    section.exp-studies .paragraph {
        width: 100%;
        padding: 0;
        text-align: left;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    ul.tags {
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
    }
    ul.tags li {
        font-size: 0.95em;
        padding: 5px 8px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 600px) {
    main,
    section.projects,
    section.exp-studies .paragraph,
    section.exp-studies .title {
        padding: 0;
        margin: 0;
        font-size: 1em;
    }
    ul.tags {
        font-size: 1em;
    }
}

/*Loader*/
/* From Uiverse.io by BridgerSilk */
.banter-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 72px;
    height: 72px;
    margin-left: -36px;
    margin-top: -36px;
    transition: opacity 0.3s ease;
}

.banter-loader__box {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.banter-loader__box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--accent);
    border-radius: 6px;
    transform: rotate(45deg);
    opacity: 70%;
}

.banter-loader__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before,
.banter-loader__box:nth-child(4):before {
    margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
    margin-top: 52px;
}

.banter-loader__box:last-child {
    margin-bottom: 0;
}

@keyframes moveBox-1 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(0px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(26px, 0);
    }

    45.4545454545% {
        transform: translate(26px, 26px);
    }

    54.5454545455% {
        transform: translate(26px, 26px);
    }

    63.6363636364% {
        transform: translate(26px, 26px);
    }

    72.7272727273% {
        transform: translate(26px, 0px);
    }

    81.8181818182% {
        transform: translate(0px, 0px);
    }

    90.9090909091% {
        transform: translate(-26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(1) {
    animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(26px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(26px, 0);
    }

    45.4545454545% {
        transform: translate(26px, 26px);
    }

    54.5454545455% {
        transform: translate(26px, 26px);
    }

    63.6363636364% {
        transform: translate(26px, 26px);
    }

    72.7272727273% {
        transform: translate(26px, 26px);
    }

    81.8181818182% {
        transform: translate(0px, 26px);
    }

    90.9090909091% {
        transform: translate(0px, 26px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(2) {
    animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(-26px, 0);
    }

    45.4545454545% {
        transform: translate(-26px, 0);
    }

    54.5454545455% {
        transform: translate(-26px, 0);
    }

    63.6363636364% {
        transform: translate(-26px, 0);
    }

    72.7272727273% {
        transform: translate(-26px, 0);
    }

    81.8181818182% {
        transform: translate(-26px, -26px);
    }

    90.9090909091% {
        transform: translate(0px, -26px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(3) {
    animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(-26px, -26px);
    }

    36.3636363636% {
        transform: translate(0px, -26px);
    }

    45.4545454545% {
        transform: translate(0px, 0px);
    }

    54.5454545455% {
        transform: translate(0px, -26px);
    }

    63.6363636364% {
        transform: translate(0px, -26px);
    }

    72.7272727273% {
        transform: translate(0px, -26px);
    }

    81.8181818182% {
        transform: translate(-26px, -26px);
    }

    90.9090909091% {
        transform: translate(-26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(4) {
    animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(0, 0);
    }

    27.2727272727% {
        transform: translate(0, 0);
    }

    36.3636363636% {
        transform: translate(26px, 0);
    }

    45.4545454545% {
        transform: translate(26px, 0);
    }

    54.5454545455% {
        transform: translate(26px, 0);
    }

    63.6363636364% {
        transform: translate(26px, 0);
    }

    72.7272727273% {
        transform: translate(26px, 0);
    }

    81.8181818182% {
        transform: translate(26px, -26px);
    }

    90.9090909091% {
        transform: translate(0px, -26px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(5) {
    animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(-26px, 0);
    }

    36.3636363636% {
        transform: translate(0px, 0);
    }

    45.4545454545% {
        transform: translate(0px, 0);
    }

    54.5454545455% {
        transform: translate(0px, 0);
    }

    63.6363636364% {
        transform: translate(0px, 0);
    }

    72.7272727273% {
        transform: translate(0px, 26px);
    }

    81.8181818182% {
        transform: translate(-26px, 26px);
    }

    90.9090909091% {
        transform: translate(-26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(6) {
    animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
    9.0909090909% {
        transform: translate(26px, 0);
    }

    18.1818181818% {
        transform: translate(26px, 0);
    }

    27.2727272727% {
        transform: translate(26px, 0);
    }

    36.3636363636% {
        transform: translate(0px, 0);
    }

    45.4545454545% {
        transform: translate(0px, -26px);
    }

    54.5454545455% {
        transform: translate(26px, -26px);
    }

    63.6363636364% {
        transform: translate(0px, -26px);
    }

    72.7272727273% {
        transform: translate(0px, -26px);
    }

    81.8181818182% {
        transform: translate(0px, 0px);
    }

    90.9090909091% {
        transform: translate(26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(7) {
    animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
    9.0909090909% {
        transform: translate(0, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(-26px, -26px);
    }

    36.3636363636% {
        transform: translate(0px, -26px);
    }

    45.4545454545% {
        transform: translate(0px, -26px);
    }

    54.5454545455% {
        transform: translate(0px, -26px);
    }

    63.6363636364% {
        transform: translate(0px, -26px);
    }

    72.7272727273% {
        transform: translate(0px, -26px);
    }

    81.8181818182% {
        transform: translate(26px, -26px);
    }

    90.9090909091% {
        transform: translate(26px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.banter-loader__box:nth-child(8) {
    animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
    9.0909090909% {
        transform: translate(-26px, 0);
    }

    18.1818181818% {
        transform: translate(-26px, 0);
    }

    27.2727272727% {
        transform: translate(0px, 0);
    }

    36.3636363636% {
        transform: translate(-26px, 0);
    }

    45.4545454545% {
        transform: translate(0px, 0);
    }

    54.5454545455% {
        transform: translate(0px, 0);
    }

    63.6363636364% {
        transform: translate(-26px, 0);
    }

    72.7272727273% {
        transform: translate(-26px, 0);
    }

    81.8181818182% {
        transform: translate(-52px, 0);
    }

    90.9090909091% {
        transform: translate(-26px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}

.banter-loader__box:nth-child(9) {
    animation: moveBox-9 4s infinite;
}
